<div class="post-signature">
    <div class="post-signature__prepend">
      <img
        class="post-signature-prepend__picture"
        alt="post-signature-picture"
        src="{{ site.baseurl }}/assets/img/signatures/ani.jpg"
      />
    </div>
    <div class="post-signature__body">
      <div class="post-signature-body__title">Written by</div>
      <div class="post-signature-body__name">Anirudha Bose</div>
      <div class="post-signature-body__desc">
        Software Engineer, Ledger Vault
        -
        <a target="_blank" rel="noreferrer" rel="noopener" href="https://twitter.com/onybose">
          Twitter
        </a>
      </div>
    </div>
  </div>
  