<div class="post-signature">
  <div class="post-signature__prepend">
    <img class="post-signature-prepend__picture" alt="post-signature-picture" src="/assets/img/signatures/jean.jpg" />
  </div>
  <div class="post-signature__body">
    <div class="post-signature-body__title">Written by</div>
    <div class="post-signature-body__name">Jean Passot</div>
    <div class="post-signature-body__desc">
      Ledger Firmware Engineer
      -
      <a target="_blank" rel="noreferrer" rel="noopener" href="https://www.linkedin.com/in/jean-p-68100312a/">
        Learn more
      </a>
    </div>
  </div>
</div>